@model WaterDetector.Code.Locations
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:80%;width:100%;"></div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Latitude)
    @Html.HiddenFor(m => m.Longitude)
    @Html.HiddenFor(m => m.Message)
    <script>
        function myMap() {
            var lat = $('#Latitude').val();
            var long = $('#Longitude').val();
            var myCenter = new google.maps.LatLng(lat, long);
            var mapProp = { center: myCenter, zoom: 15, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXnBQKhqxBnPTG1XS7rY2S4_ChJS9wwQ8&callback=myMap"></script>
</fieldset>
<footer>
    <p>&copy; @DateTime.Now.Year - Noah</p>
</footer>